force-app/main/default/flows/POP_Screen_Translate_Script.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>Screen on Program Transcript that will pass EDIT MODE and language to Script Flow</description>
    <interviewLabel>POP: Screen: Translate Script {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POP: Screen: Translate Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ProgramScript_GetRecord</name>
        <label>ProgramScript GetRecord</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenScript_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProgramScript_GetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ScreenScript_Subflow</name>
        <label>ScreenScript Subflow</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <flowName>POP_Screen_Script</flowName>
        <inputAssignments>
            <name>LANGUAGE</name>
            <value>
                <elementReference>ProgramScript_GetRecord.Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MODE</name>
            <value>
                <stringValue>EDIT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>ProgramScript_GetRecord.Program__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
