force-app/main/default/flows/Program_Outreach_Main.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Accepted_Email</name>
        <label>Accepted Email</label>
        <locationX>446</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>Program_Outreach.Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Great_Script</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Comments_Did_Not_Answer</name>
        <label>Comments - Did Not Answer</label>
        <locationX>1106</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>Program_Outreach.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsDidNotAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Outreach.Escalation_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Comments_DidNotAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Outreach.Do_Not_Call_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Call_Requested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Outreach.Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Outreach.Unconnected_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unable_To_Connect_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Pop_Outreach_Closing_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Owner_And_Status</name>
        <label>Contact Owner And Status</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Program_Outreach.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Outreach.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pop_Outreach_Record_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Declined_Email</name>
        <label>Declined Email</label>
        <locationX>710</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>Program_Outreach.Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Sent-Declined</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Thank_You_Script</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pop_Member_Closing</name>
        <label>Pop Member Closing</label>
        <locationX>578</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>Program_Outreach.Sentiment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outreach_Sentiment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Outreach.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Outreach.Escalation_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Outreach.Do_Not_Call_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Call_Requested_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pop_Outreach_Closing_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pop_Outreach_Aware</name>
        <label>Pop Outreach Aware</label>
        <locationX>446</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>Program_Outreach.Awareness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aware</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aware_Script</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pop_Outreach_Not_Aware</name>
        <label>Pop Outreach Not Aware</label>
        <locationX>710</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>Program_Outreach.Awareness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Aware</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Not_Aware_Script</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pop_Outreach_Status_Change</name>
        <label>Pop Outreach Status Change</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Program_Outreach.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed-Connected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hello_Script</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pop_Outreach_Status_Voicemail</name>
        <label>Pop Outreach Status - Voicemail</label>
        <locationX>1106</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>isVoicemail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Outreach.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Voicemail_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_Voicemail_Email</name>
        <label>Send Voicemail Email</label>
        <locationX>1106</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>SendEmail_Boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closing_Did_Not_Answer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Translate_Script_Assignments</name>
        <label>Translate Script Assignments</label>
        <locationX>578</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>Program_Script_Translate.Talk_Track_Hello__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Translate_Talk_Track_Hello</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Script_Translate.Talk_Track_Customer_Answered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Translate_Talk_Track_Customer_Answered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Script_Translate.Talk_Track_Customer_Did_Not_Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Translate_Talk_Track_Customer_Did_Not_Answer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Script_Translate.Talk_Track_Customer_Is_Aware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Translate_Talk_Track_Customer_Is_Aware</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Script_Translate.Talk_Track_Customer_Is_Not_Aware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Translate_Talk_Track_Customer_Is_Not_Aware</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Script_Translate.Talk_Track_Email_Accepted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Translate_Talk_Track_Email_Accepted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program_Script_Translate.Talk_Track_Email_Declined__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Translate_Talk_Track_Email_Declined</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Script_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>cCreate</name>
        <choiceText>Create New Script</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>cEnglish</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>cUpdateExistingScript</name>
        <choiceText>Update Existing Script</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Contact_Is_Null</name>
        <label>Contact Is Null?</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Contact_Owner_And_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ContactIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Program_Outreach</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_More_Pop_Outreach</targetReference>
            </connector>
            <label>OutcomeIs ContactIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Send_Do_Not_Send</name>
        <label>Email Send/Do Not Send</label>
        <locationX>578</locationX>
        <locationY>3350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MODE</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EDIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Program_Outreach_Email</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
        <rules>
            <name>MODE_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MODE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_Script_Translate</targetReference>
            </connector>
            <label>MODE = Edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pop_Outreach_Aware</name>
        <label>Is Pop Outreach Aware?</label>
        <locationX>578</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Pop_Outreach_Not_Aware</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aware_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>aware_toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pop_Outreach_Aware</targetReference>
            </connector>
            <label>Aware - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pop_Outreach_Answer</name>
        <label>Pop Outreach Answer</label>
        <locationX>1106</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Pop_Outreach_Did_Not_Answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PopOutreach_Answer_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Answere_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pop_Outreach_Answered</targetReference>
            </connector>
            <label>PopOutreach Answer - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pop_Outreach_Available_to_Spreak</name>
        <label>Pop Outreach Available to Spreak?</label>
        <locationX>842</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>Pop_Outreach_Did_Not_Answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available_To_Speak_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Available_To_Speak.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pop_Outreach_Status_Change</targetReference>
            </connector>
            <label>Available To Speak - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Pop_Member_Email</name>
        <label>Send Pop Member Email</label>
        <locationX>578</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>Declined_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Connected_With_Customer_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendEmail_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accepted_Email</targetReference>
            </connector>
            <label>Send Connected With Customer Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Validation</name>
        <label>User Validation</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>User_Cannot_Run_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Can_Run_Script</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CanRunScript_Subflow.CAN_RUN_SCRIPT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program</targetReference>
            </connector>
            <label>User Can Run Script</label>
        </rules>
    </decisions>
    <description>Main Program Outreach Flow</description>
    <dynamicChoiceSets>
        <name>cLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Langauge__c</picklistField>
        <picklistObject>Program_Script__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cRegion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Program_Outreach__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cSentiment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sentiment__c</picklistField>
        <picklistObject>Program_Outreach__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cUnableToConnectReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unconnected_Reason__c</picklistField>
        <picklistObject>Program_Outreach__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Program Outreach: Main {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Outreach: Main</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Program</name>
        <label>Program</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Menu</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Program_Outreach</name>
        <label>Program Outreach</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Language_Select</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Region_Select</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_Call_Requested__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Outreach__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Program_Script</name>
        <label>Program Script</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Warning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Language_Select</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Program_Script_Translate</name>
        <label>Program Script (Translate)</label>
        <locationX>578</locationX>
        <locationY>3470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Translate_Script_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vTranslateOutreachScriptID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Pop_Outreach_Closing_Record_Update</name>
        <label>Pop Outreach Closing Record Update</label>
        <locationX>578</locationX>
        <locationY>3230</locationY>
        <connector>
            <targetReference>Email_Send_Do_Not_Send</targetReference>
        </connector>
        <inputReference>Program_Outreach</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Program_Script_Update</name>
        <label>Program Script Update</label>
        <locationX>578</locationX>
        <locationY>3710</locationY>
        <inputReference>Program_Script_Translate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pop_Outreach_Record_Owner</name>
        <label>Update Pop Outreach Record Owner</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Pop_Member_Info</targetReference>
        </connector>
        <inputReference>Program_Outreach</inputReference>
    </recordUpdates>
    <screens>
        <name>Aware_Script</name>
        <label>Aware Script</label>
        <locationX>446</locationX>
        <locationY>2318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Pop_Member_Email</targetReference>
        </connector>
        <fields>
            <name>aware_text</name>
            <fieldText>&lt;p&gt;{!Program_Script.Talk_Track_Customer_Is_Aware__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Aware_SendEmail_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send Email?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Translate_Talk_Track_Customer_Is_Aware</name>
            <defaultValue>
                <stringValue>{!Program_Script.Talk_Track_Customer_Is_Aware__c}</stringValue>
            </defaultValue>
            <fieldText>Translate: &quot;Talk Track: Customer Is Aware&quot;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MODE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EDIT</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Closing_Did_Not_Answer</name>
        <label>Closing: Did Not Answer</label>
        <locationX>1106</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Comments_Did_Not_Answer</targetReference>
        </connector>
        <fields>
            <name>DidNotAnswer_Text</name>
            <fieldText>&lt;p&gt;{!Program_Script.Instruction_Close_Out_Did_Not_Answer__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Unable_To_Connect_Reason</name>
            <choiceReferences>cUnableToConnectReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unable To Connect Reason:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_Not_Call_Requested</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do Not Call Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CommentsDidNotAnswer</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Escalation_Comments_DidNotAnswer</name>
            <fieldText>Escalation Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Closing_Script</name>
        <label>Closing Script</label>
        <locationX>578</locationX>
        <locationY>2990</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pop_Member_Closing</targetReference>
        </connector>
        <fields>
            <name>closing_text</name>
            <fieldText>&lt;p&gt;{!Program_Script.Instruction_Close_Did_Answer__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Outreach_Sentiment</name>
            <choiceReferences>cSentiment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outreach Sentiment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Escalation_Required</name>
            <fieldText>Escalation Required</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_Not_Call_Requested_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do Not Call Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Warning</name>
        <label>Contact Warning</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Program_Outreach</targetReference>
        </connector>
        <fields>
            <name>ContactWarningText</name>
            <fieldText>&lt;p&gt;{!Program_Script.Instruction_Until_Read_To_Call__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Great_Script</name>
        <label>Great Script</label>
        <locationX>446</locationX>
        <locationY>2774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Closing_Script</targetReference>
        </connector>
        <fields>
            <name>Great_Text</name>
            <fieldText>&lt;p&gt;{!Program_Script.Talk_Track_Email_Accepted__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Translate_Talk_Track_Email_Accepted</name>
            <defaultValue>
                <stringValue>{!Program_Script.Talk_Track_Email_Accepted__c}</stringValue>
            </defaultValue>
            <fieldText>Translate: &quot;Talk Track: Email Accepted&quot;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MODE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EDIT</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hello_Script</name>
        <label>Hello Script</label>
        <locationX>578</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Pop_Outreach_Aware</targetReference>
        </connector>
        <fields>
            <name>hello_text</name>
            <fieldText>&lt;p&gt;{!Program_Script.Talk_Track_Hello__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>aware_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is customer aware?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Translate_Talk_Track_Hello</name>
            <defaultValue>
                <stringValue>{!Program_Script.Talk_Track_Hello__c}</stringValue>
            </defaultValue>
            <fieldText>Translate: &quot;Talk Track: Hello&quot;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MODE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EDIT</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Menu</name>
        <label>Main Menu</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Program_Script</targetReference>
        </connector>
        <fields>
            <name>Main_Menu_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Main_Menu_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MainSection1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Proactive Outreach Program&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Language_Select</name>
                    <choiceReferences>cEnglish</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Language Select:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Region_Select</name>
                    <choiceReferences>cRegion</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Region Select:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_More_Pop_Outreach</name>
        <label>No More Pop Outreach</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoMoreMembersText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Program_Script.Instruction_No_More_Calls__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Aware_Script</name>
        <label>Not Aware Script</label>
        <locationX>710</locationX>
        <locationY>2318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Pop_Member_Email</targetReference>
        </connector>
        <fields>
            <name>not_aware_text</name>
            <fieldText>&lt;p&gt;{!Program_Script.Talk_Track_Customer_Is_Not_Aware__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotAware_SendEmail_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send Email?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Translate_Talk_Track_Customer_Is_Not_Aware</name>
            <defaultValue>
                <stringValue>{!Program_Script.Talk_Track_Customer_Is_Not_Aware__c}</stringValue>
            </defaultValue>
            <fieldText>Translate: &quot;Talk Track: Customer Is Not Aware&quot;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MODE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EDIT</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pop_Member_Info</name>
        <label>Pop Outreach Info</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pop_Outreach_Answer</targetReference>
        </connector>
        <fields>
            <name>Pop_Member_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pop_Member_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PopMemberSectionText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Contact Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Customer_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>Program_Outreach.Contact__r.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>Program_Outreach.Contact__r.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Customer_Phone_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Program_Outreach.Contact__r.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Program_Outreach.Contact__r.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Pop_Member_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pop_Member_Info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Answer_Text</name>
            <fieldText>&lt;p&gt;Did the customer answer?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Answere_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pop_Outreach_Answered</name>
        <label>Pop Outreach Answered</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pop_Outreach_Available_to_Spreak</targetReference>
        </connector>
        <fields>
            <name>CustomerAnswered_Text</name>
            <fieldText>&lt;p&gt;{!Program_Script.Talk_Track_Customer_Answered__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Available_To_Speak</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is the customer available to speak?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Translate_Talk_Track_Customer_Answered</name>
            <defaultValue>
                <stringValue>{!Program_Script.Talk_Track_Customer_Answered__c}</stringValue>
            </defaultValue>
            <fieldText>Translate: &quot;Talk Track: Customer Answered&quot;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MODE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EDIT</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pop_Outreach_Did_Not_Answer</name>
        <label>Pop Outreach Did Not Answer</label>
        <locationX>1106</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pop_Outreach_Status_Voicemail</targetReference>
        </connector>
        <fields>
            <name>did_not_answer_text</name>
            <fieldText>&lt;p&gt;{!Program_Script.Instruction_Close_Out_Did_Not_Answer__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Translate_Talk_Track_Customer_Did_Not_Answer</name>
            <defaultValue>
                <stringValue>{!Program_Script.Talk_Track_Customer_Did_Not_Answer__c}</stringValue>
            </defaultValue>
            <fieldText>Translate: &quot;Talk Track: Customer Did Not Answer&quot;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MODE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EDIT</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Script</name>
        <label>Thank You Script</label>
        <locationX>710</locationX>
        <locationY>2774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Closing_Script</targetReference>
        </connector>
        <fields>
            <name>thankyou_text</name>
            <fieldText>&lt;p&gt;{!Program_Script.Talk_Track_Email_Declined__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Translate_Talk_Track_Email_Declined</name>
            <defaultValue>
                <stringValue>{!Program_Script.Talk_Track_Email_Declined__c}</stringValue>
            </defaultValue>
            <fieldText>Translate: &quot;Talk Track: Email Declined&quot;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MODE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EDIT</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Cannot_Run_Flow</name>
        <label>User Cannot Run Flow</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Cannot_Run</name>
            <fieldText>&lt;p&gt;You cannot run flow&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CanRunScript_Subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CanRunScript_Subflow</name>
        <label>CanRunScript Subflow</label>
        <locationX>1106</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>User_Validation</targetReference>
        </connector>
        <flowName>POP_Screen_Can_Run_Script</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Subflow_Program_Outreach_Email</name>
        <label>Subflow: Program Outreach: Email</label>
        <locationX>314</locationX>
        <locationY>3470</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Menu</targetReference>
        </connector>
        <flowName>Program_Outreach_Email</flowName>
        <inputAssignments>
            <name>LANGUAGE</name>
            <value>
                <elementReference>Language_Select</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgramName</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VOICEMAIL</name>
            <value>
                <elementReference>isVoicemail</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>dummy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isVoicemail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LANGUAGE</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MODE</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendEmail_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTranslateOutreachScriptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
