force-app/main/default/flows/Program_Outreach_Autolaunched_Add_to_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ContactIdMissingFields_Assignment</name>
        <label>ContactIdMissingFields Assignment</label>
        <locationX>792</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>ContactMissingFields_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contacts_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactWithOutreach_Assignment</name>
        <label>ContactWithOutreach Assignment</label>
        <locationX>528</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>ContactWithOutreach_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contacts_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FoundReset_Assignment</name>
        <label>FoundReset Assignment</label>
        <locationX>792</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProgramOutreach_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FoundTrue_Assignment</name>
        <label>FoundTrue Assignment</label>
        <locationX>1056</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProgramOutreach_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>isSuccess_Assignment</name>
        <label>isSuccess Assignment</label>
        <locationX>440</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ProgramOutreachNew_Assignment</name>
        <label>ProgramOutreachNew Assignment</label>
        <locationX>1056</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacts_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgramId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProgramOutreachNewCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProgramOutreachNewCollection_Assignment</name>
        <label>ProgramOutreachNewCollection Assignment</label>
        <locationX>1056</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramOutreachNew_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ProgramOutreachCreate_Decision</name>
        <label>ProgramOutreachCreate Decision</label>
        <locationX>792</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>ProgramOutreachNew_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>We Can Create</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_OutreachFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactWithOutreach_Assignment</targetReference>
            </connector>
            <label>Contact Already Has Outreach</label>
        </rules>
        <rules>
            <name>OutcomeIs_ContactMissingFields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contacts_Loop.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacts_Loop.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacts_Loop.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactIdMissingFields_Assignment</targetReference>
            </connector>
            <label>Contact Has Missing Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProgramOutreachFound_Decision</name>
        <label>ProgramOutreachFound Decision</label>
        <locationX>1100</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>ProgramOutreach_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Program Outreach Is A Different Contact</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_AlreadyFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProgramOutreach_Loop</targetReference>
            </connector>
            <label>Already Found</label>
        </rules>
        <rules>
            <name>OutcomeIs_ProgramOutreachFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramOutreach_Loop.Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contacts_Loop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FoundTrue_Assignment</targetReference>
            </connector>
            <label>Program Outreach Found</label>
        </rules>
    </decisions>
    <description>Pass in a list of contact ids and program id to add as outreaches to a program. They will not be added if they already are in program or fields are missing.</description>
    <environments>Default</environments>
    <interviewLabel>Program Outreach: Autolaunched: Add to Program {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Program Outreach: Autolaunched: Add to Program</label>
    <loops>
        <name>Contacts_Loop</name>
        <label>Contacts Loop</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Contact_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FoundReset_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProgramOutreachNew_CreateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ProgramOutreach_Loop</name>
        <label>ProgramOutreach Loop</label>
        <locationX>792</locationX>
        <locationY>638</locationY>
        <collectionReference>ProgramOutreach_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProgramOutreachFound_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProgramOutreachCreate_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create any new program outreaches.</description>
        <name>ProgramOutreachNew_CreateRecords</name>
        <label>ProgramOutreachNew CreateRecords</label>
        <locationX>176</locationX>
        <locationY>1742</locationY>
        <faultConnector>
            <targetReference>isSuccess_Assignment</targetReference>
        </faultConnector>
        <inputReference>ProgramOutreachNew_RecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Contact_GetRecords</name>
        <label>Contact GetRecords</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProgramOutreach_GetRecords</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>isSuccess_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get any program outreaches for the contact ids passed in.</description>
        <name>ProgramOutreach_GetRecords</name>
        <label>ProgramOutreach GetRecords</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_Loop</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>isSuccess_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Outreach__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_GetRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactIdOutreachExist_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactMissingFields_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRequiredFieldsMissingOutreachExist_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactWithOutreach_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramOutreachNew_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Outreach__c</objectType>
    </variables>
    <variables>
        <name>ProgramOutreachNew_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Program_Outreach__c</objectType>
    </variables>
</Flow>
