force-app/main/default/flows/Program_Outreach_Autolaunched_Add_to_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ContactIdMissingFields_Assignment</name>
        <label>ContactIdMissingFields Assignment</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ContactMissingFields_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_GetRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ids_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactWithOutreacht_Assignment</name>
        <label>ContactWithOutreacht Assignment</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ContactWithOutreach_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_GetRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ids_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProgramOutreachNew_Assignment</name>
        <label>ProgramOutreachNew Assignment</label>
        <locationX>792</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ids_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgramId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProgramOutreachNewCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProgramOutreachNewCollection_Assignment</name>
        <label>ProgramOutreachNewCollection Assignment</label>
        <locationX>792</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramOutreachNew_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ids_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ProgramOutreachCreate_Decision</name>
        <label>ProgramOutreachCreate Decision</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>ProgramOutreachNew_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>We Can Create</defaultConnectorLabel>
        <rules>
            <name>OutcomeIsOutreachFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramOutreach_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactWithOutreacht_Assignment</targetReference>
            </connector>
            <label>We found an outreach</label>
        </rules>
        <rules>
            <name>OutcomeIs_ContactDoesNotHaveRequredFields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contact_GetRecord.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_GetRecord.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_GetRecord.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactIdMissingFields_Assignment</targetReference>
            </connector>
            <label>Contact Does Not Have Required Fields</label>
        </rules>
    </decisions>
    <description>Pass in a lsit of contact ids and program id to add as outreaches to a program. They will not be added if they already are in program or fields are missing.</description>
    <environments>Default</environments>
    <interviewLabel>Program Outreach: Autolaunched: Add to Program {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Program Outreach: Autolaunched: Add to Program</label>
    <loops>
        <name>Ids_Loop</name>
        <label>Ids Loop</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>ContactIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_GetRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProgramOutreachNew_CreateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ProgramOutreachNew_CreateRecords</name>
        <label>ProgramOutreachNew CreateRecords</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <inputReference>ProgramOutreachNew_RecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Contact_GetRecord</name>
        <label>Contact GetRecord</label>
        <locationX>528</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProgramOutreach_GetRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ids_Loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProgramOutreach_GetRecord</name>
        <label>ProgramOutreach GetRecord</label>
        <locationX>528</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProgramOutreachCreate_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ids_Loop</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Outreach__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ids_Loop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactIdOutreachExist_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactMissingFields_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRequiredFieldsMissingOutreachExist_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactWithOutreach_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramOutreachNew_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Outreach__c</objectType>
    </variables>
    <variables>
        <name>ProgramOutreachNew_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Program_Outreach__c</objectType>
    </variables>
</Flow>
