force-app/main/default/flows/Program_Outreach_Screen_Add_to_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ContactIdOutreachExist_Assignment</name>
        <label>ContactIdOutreachExist Assignment</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ContactIdOutreachExist_TextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ids_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ids_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactIdRequiredFieldsMissing_Assignment</name>
        <label>ContactIdRequiredFieldsMissing Assignment</label>
        <locationX>528</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ContactRequiredFieldsMissingOutreachExist_TextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ids_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ids_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProgramOutreachNew_Assignment</name>
        <label>ProgramOutreachNew Assignment</label>
        <locationX>792</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ids_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgramSelect_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProgramOutreachNewCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProgramOutreachNewCollection_Assignment</name>
        <label>ProgramOutreachNewCollection Assignment</label>
        <locationX>792</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreachCreate_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramOutreachNew_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ids_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ProgramOutreachCreate_Decision</name>
        <label>ProgramOutreachCreate Decision</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>ProgramOutreachNew_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>We Can Create</defaultConnectorLabel>
        <rules>
            <name>OutcomeIsOutreachFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramOutreach_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactIdOutreachExist_Assignment</targetReference>
            </connector>
            <label>We found an outreach</label>
        </rules>
        <rules>
            <name>OutcomeIs_ContactDoesNotHaveRequredFields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contact_GetRecord.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_GetRecord.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_GetRecord.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactIdRequiredFieldsMissing_Assignment</targetReference>
            </connector>
            <label>Contact Does Not Have Required Fields</label>
        </rules>
    </decisions>
    <description>Launch a screen from contact listview and pass in contact ids to add to a selected program. If contact already exists, it will not be added.</description>
    <dynamicChoiceSets>
        <name>ProgramActive_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Program__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Program Outreach: Screen: Add to Program {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Program Outreach: Screen: Add to Program</label>
    <loops>
        <name>Ids_Loop</name>
        <label>Ids Loop</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_GetRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProgramOutreachNew_CreateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>ProgramOutreachNew_CreateRecords</name>
        <label>ProgramOutreachNew CreateRecords</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>ThankYou_Screen</targetReference>
        </connector>
        <inputReference>ProgramOutreachCreate_RecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Contact_GetRecord</name>
        <label>Contact GetRecord</label>
        <locationX>528</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProgramOutreach_GetRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ids_Loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProgramOutreach_GetRecord</name>
        <label>ProgramOutreach GetRecord</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProgramOutreachCreate_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ids_Loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Outreach__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ProgramSelect_Screen</name>
        <label>ProgramSelect Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ids_Loop</targetReference>
        </connector>
        <fields>
            <name>ProgramSelect_Picklist</name>
            <choiceReferences>ProgramActive_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Program to Add To</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYou_Screen</name>
        <label>ThankYou_Screen</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou_DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;We added contacts to the program selected. You may close this window now.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactOutreach_DisplayText</name>
            <fieldText>&lt;p&gt;These contacts already had outreaches and were not added.&lt;/p&gt;&lt;p&gt;{!ContactIdOutreachExist_TextCollection}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContactIdOutreachExist_TextCollection</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactMissingFields_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;These contacts were missing required fields and were not added. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ContactRequiredFieldsMissingOutreachExist_TextCollection}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContactRequiredFieldsMissingOutreachExist_TextCollection</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProgramSelect_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactIdOutreachExist_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRequiredFieldsMissingOutreachExist_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramOutreachCreate_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Outreach__c</objectType>
    </variables>
    <variables>
        <name>ProgramOutreachNew_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Outreach__c</objectType>
    </variables>
</Flow>
