force-app/main/default/flows/Program_Outreach_Main.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>EmailAccepted_Assignment</name>
        <label>EmailAccepted Assignment</label>
        <locationX>314</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailAccepted_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailDeclined_Assignment</name>
        <label>EmailDeclined Assignment</label>
        <locationX>578</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Sent-Declined</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailDeclined_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutreachAware_Assignment</name>
        <label>OutreachAware Assignment</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Awareness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aware</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OutreachAware_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutreachNotAware_Assignment</name>
        <label>OutreachNotAware Assignment</label>
        <locationX>578</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Awareness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Aware</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OutreachNotAware_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutreachOwner_Assignment</name>
        <label>OutreachOwner Assignment</label>
        <locationX>831</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProgramOutreachOwner_UpdateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutreachUpdateAvailable_Assignment</name>
        <label>OutreachUpdateAvailable Assignment</label>
        <locationX>446</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Sentiment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SentimentAvailable_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsAvailable_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Escalation_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscalationRequiredAvailable_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Do_Not_Call_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoNotCallAvailable_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Connected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pop_Outreach_Closing_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutreachUpdateConnected_Assignment</name>
        <label>OutreachUpdateConnected Assignment</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed-Connected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hello_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutreachUpdateNotAvailable_Assignment</name>
        <label>OutreachUpdateNotAvailable Assignment</label>
        <locationX>831</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsNotAvailable_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Escalation_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscalationCommentsNotAvailable_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Do_Not_Call_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoNotCallNotAvailable_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Unconnected_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnconnectedReasonNotAvailable_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreach_GetRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unconnected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendEmail_Boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Pop_Outreach_Closing_Record_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>cCreate</name>
        <choiceText>Create New Script</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>cEnglish</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>cUpdateExistingScript</name>
        <choiceText>Update Existing Script</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>CanUserRun_Decision</name>
        <label>Can Current User Run This?</label>
        <locationX>817</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>User_Cannot_Run_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current User Cannot Run</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_UseCanRun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CanRunScript_Subflow.CAN_RUN_SCRIPT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_GetRecord</targetReference>
            </connector>
            <label>Current User Can Run</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactIsNull_Decision</name>
        <label>Was a Contact Found?</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>OutreachOwner_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Found</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ContactIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramOutreach_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoMoreOutreach_Screen</targetReference>
            </connector>
            <label>Contact Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutreachAnswer_Decision</name>
        <label>Was Outreach Answered?</label>
        <locationX>831</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>OutreachNotAvailable_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Answered</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_OutreachAnswered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DidCustomerAnswer_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutreachAvailable_Screen</targetReference>
            </connector>
            <label>Was Answered</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutreachAvailble_Decision</name>
        <label>Was Outreach Available?</label>
        <locationX>644</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>OutreachNotAvailable_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outreach Was Not Available</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_OutreachAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableToSpeak_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutreachUpdateConnected_Assignment</targetReference>
            </connector>
            <label>Outreach Was Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutreachAware_Decision</name>
        <label>Was Outreach Aware of Program?</label>
        <locationX>446</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>OutreachNotAware_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Aware</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_WasAware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AwareOfProgram_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutreachAware_Assignment</targetReference>
            </connector>
            <label>Was Aware</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendEmailConnected_Decision</name>
        <label>SendEmailConnected Decision</label>
        <locationX>446</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>EmailDeclined_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send Email</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_SendEmailConnected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendEmail_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAccepted_Assignment</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <description>Main Program Outreach Flow</description>
    <dynamicChoiceSets>
        <name>cLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Langauge__c</picklistField>
        <picklistObject>Program_Script__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cRegion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Program_Outreach__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cSentiment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sentiment__c</picklistField>
        <picklistObject>Program_Outreach__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cUnableToConnectReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unconnected_Reason__c</picklistField>
        <picklistObject>Program_Outreach__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ScriptLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Langauge__c</picklistField>
        <picklistObject>Program_Script__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId_Formula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Program Outreach: Main {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Outreach: Main</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Program_GetRecord</name>
        <label>Program GetRecord</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Menu</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProgramOutreach_GetRecord</name>
        <label>ProgramOutreach GetRecord</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactIsNull_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program_GetRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LanguageSelect_Picklist</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegionSelect_Picklist</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_Call_Requested__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Outreach__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProgramScript_GetRecord</name>
        <label>ProgramScript GetRecord</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReadyToCall_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program_GetRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LanguageSelect_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Pop_Outreach_Closing_Record_Update</name>
        <label>Pop Outreach Closing Record Update</label>
        <locationX>446</locationX>
        <locationY>3230</locationY>
        <inputReference>ProgramOutreach_GetRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ProgramOutreachOwner_UpdateRecord</name>
        <label>ProgramOutreachOwner UpdateRecord</label>
        <locationX>831</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>OutreachInfo_Screen</targetReference>
        </connector>
        <inputReference>ProgramOutreach_GetRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>CloseAvailable_Screen</name>
        <label>CloseAvailable Screen</label>
        <locationX>446</locationX>
        <locationY>2990</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutreachUpdateAvailable_Assignment</targetReference>
        </connector>
        <fields>
            <name>closing_text</name>
            <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Instruction_Close_Did_Answer__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SentimentAvailable_Picklist</name>
            <choiceReferences>cSentiment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outreach Sentiment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CommentsAvailable_Text</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EscalationRequiredAvailable_Text</name>
            <fieldText>Escalation Required</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DoNotCallAvailable_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do Not Call Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CloseNotAvailable_Screen</name>
        <label>CloseNotAvailable Screen</label>
        <locationX>831</locationX>
        <locationY>3782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutreachUpdateNotAvailable_Assignment</targetReference>
        </connector>
        <fields>
            <name>DidNotAnswer_Text</name>
            <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Instruction_Close_Not_Available__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UnconnectedReasonNotAvailable_Picklist</name>
            <choiceReferences>cUnableToConnectReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unconnected Reason:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DoNotCallNotAvailable_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do Not Call Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CommentsNotAvailable_Text</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EscalationCommentsNotAvailable_Text</name>
            <fieldText>Escalation Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmailAccepted_Screen</name>
        <label>EmailAccepted Screen</label>
        <locationX>314</locationX>
        <locationY>2774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CloseAvailable_Screen</targetReference>
        </connector>
        <fields>
            <name>Great_Text</name>
            <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Talk_Track_Email_Accepted__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmailDeclined_Screen</name>
        <label>EmailDeclined Screen</label>
        <locationX>578</locationX>
        <locationY>2774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CloseAvailable_Screen</targetReference>
        </connector>
        <fields>
            <name>thankyou_text</name>
            <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Talk_Track_Email_Declined__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hello_Screen</name>
        <label>Hello Screen</label>
        <locationX>446</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutreachAware_Decision</targetReference>
        </connector>
        <fields>
            <name>Hello_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hello_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TalkTrackHello_DisplayText</name>
                    <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Talk_Track_Hello__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hello_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactHello_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>ProgramOutreach_GetRecord.First_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>ProgramOutreach_GetRecord.Last_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AwareOfProgram_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>ProgramScript_GetRecord.Decision_Aware_of_Program__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Main_Menu</name>
        <label>Main Menu</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProgramScript_GetRecord</targetReference>
        </connector>
        <fields>
            <name>Main_Menu_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Main_Menu_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MainSection1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Proactive Outreach Program&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LanguageSelect_Picklist</name>
                    <choiceReferences>ScriptLanguage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select a Language:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>RegionSelect_Picklist</name>
                    <choiceReferences>cRegion</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select a Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoMoreOutreach_Screen</name>
        <label>NoMoreOutreach Screen</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoMoreOutreach_DisplayText</name>
            <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Instruction_No_More_Outreach__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OutreachAvailable_Screen</name>
        <label>OutreachAvailable Screen</label>
        <locationX>644</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutreachAvailble_Decision</targetReference>
        </connector>
        <fields>
            <name>OutreachAvailable_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OutreachAvailable_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerAnswered_Text</name>
                    <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Talk_Track_Outreach_Answered__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OutreachAvailable_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactAvailable_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>ProgramOutreach_GetRecord.First_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>ProgramOutreach_GetRecord.Last_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AvailableToSpeak_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>ProgramScript_GetRecord.Decision_Available_To_Speak__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OutreachAware_Screen</name>
        <label>OutreachAware Screen</label>
        <locationX>314</locationX>
        <locationY>2318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SendEmailConnected_Decision</targetReference>
        </connector>
        <fields>
            <name>aware_text</name>
            <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Talk_Track_Outreach_Aware__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Aware_SendEmail_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>ProgramScript_GetRecord.Decision_Send_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OutreachInfo_Screen</name>
        <label>OutreachInfo Screen</label>
        <locationX>831</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutreachAnswer_Decision</targetReference>
        </connector>
        <fields>
            <name>InstructionCallCustomer_DisplayText</name>
            <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Instruction_Make_Outreach__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OutreachInfo_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OutreachInfo_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ProgramOutreach_GetRecord.Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OutreachInfo_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactOutreach_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>ProgramOutreach_GetRecord.First_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>ProgramOutreach_GetRecord.Last_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DidCustomerAnswer_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>ProgramScript_GetRecord.Decision_Outreach_Answered__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OutreachNotAvailable_Screen</name>
        <label>OutreachNotAvailable Screen</label>
        <locationX>831</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CloseNotAvailable_Screen</targetReference>
        </connector>
        <fields>
            <name>TalkTrackOutreachNotAvailable_DisplayText</name>
            <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Talk_Track_Outreach_Not_Available__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OutreachNotAware_Screen</name>
        <label>OutreachNotAware Screen</label>
        <locationX>578</locationX>
        <locationY>2318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SendEmailConnected_Decision</targetReference>
        </connector>
        <fields>
            <name>not_aware_text</name>
            <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Talk_Track_Outreach_Not_Aware__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotAware_SendEmail_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>ProgramScript_GetRecord.Decision_Send_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReadyToCall_Screen</name>
        <label>ReadyToCall Screen</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProgramOutreach_GetRecord</targetReference>
        </connector>
        <fields>
            <name>InstructionReadyToCall_DisplayText</name>
            <fieldText>&lt;p&gt;{!ProgramScript_GetRecord.Instruction_Until_Ready_To_Call__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Cannot_Run_Flow</name>
        <label>User Cannot Run Flow</label>
        <locationX>1194</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Cannot_Run</name>
            <fieldText>&lt;p&gt;You cannot run flow&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>691</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CanRunScript_Subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CanRunScript_Subflow</name>
        <label>CanRunScript Subflow</label>
        <locationX>817</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>CanUserRun_Decision</targetReference>
        </connector>
        <flowName>POP_Screen_Can_Run_Script</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>dummy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isVoicemail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LANGUAGE</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MODE</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendEmail_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTranslateOutreachScriptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
