force-app/main/default/flows/Program_Script_Autolaunched_Default_Script.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Fault_Assignment</name>
        <label>Fault Assignment</label>
        <locationX>440</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ProgramScript: Autolaunched: {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Program Script: Autolaunched: Default Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ProgramScriptDefault_CreateReord</name>
        <label>ProgramScriptDefault CreateReord</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <faultConnector>
            <targetReference>Fault_Assignment</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Decision_Available_To_Speak__c</field>
            <value>
                <elementReference>Decision_Available_To_Speak</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Aware_of_Program__c</field>
            <value>
                <elementReference>Decision_Aware_of_Program</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Outreach_Answered__c</field>
            <value>
                <elementReference>Decision_Outreach_Answered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Send_Email__c</field>
            <value>
                <elementReference>Decision_Send_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Body__c</field>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Subject__c</field>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instruction_Aware__c</field>
            <value>
                <elementReference>Instruction_Awareness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instruction_Close_Available__c</field>
            <value>
                <elementReference>Instruction_Close_Available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instruction_Close_Not_Available__c</field>
            <value>
                <elementReference>Instruction_Close_Not_Available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instruction_Finish__c</field>
            <value>
                <elementReference>Instruction_Finish</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instruction_Make_Outreach__c</field>
            <value>
                <elementReference>Instruction_Make_Outreach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instruction_No_More_Outreach__c</field>
            <value>
                <elementReference>Instruction_No_More_Outreach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instruction_Until_Ready_To_Call__c</field>
            <value>
                <elementReference>Instruction_Until_Ready_To_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <stringValue>English</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Talk_Track_Email_Accepted__c</field>
            <value>
                <elementReference>Talk_Track_Email_Accepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Talk_Track_Email_Declined__c</field>
            <value>
                <elementReference>Talk_Track_Email_Declined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Talk_Track_Hello__c</field>
            <value>
                <elementReference>Talk_Track_Hello</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Talk_Track_Outreach_Answered__c</field>
            <value>
                <elementReference>Talk_Track_Outreach_Answered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Talk_Track_Outreach_Aware__c</field>
            <value>
                <elementReference>Talk_Track_Outreach_Aware</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Talk_Track_Outreach_Not_Available__c</field>
            <value>
                <elementReference>Talk_Track_Outreach_Not_Available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Talk_Track_Outreach_Not_Aware__c</field>
            <value>
                <elementReference>Talk_Track_Outreach_Not_Aware</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProgramScriptDefault_CreateReord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello &lt;strong&gt;{{{First_Name}}}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for the interest in our program. Please see the links included. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Instruction_Awareness</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;IF the conversation ends here and you don&apos;t get a &quot;Yes&quot; or &quot;No&quot;, select &quot;Previous&quot; and change &quot;Did the customer say yes?&quot; on the previous screen to &quot;No&quot;.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Instruction_Close_Available</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Complete the fields below if applicable before proceeding.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Don&apos;t complete &quot;Overall Comments&quot; unless you select Yellow.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Don&apos;t complete &quot;Escalation Comments&quot; unless you select Red.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Definitions for Customer Sentiment:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Red&lt;/strong&gt;&lt;span style=&quot;color: rgb(33, 33, 34); font-size: 16px;&quot;&gt;&amp;nbsp;- The customer is extremely upset about the changes and an Escalation is required (Keywords: Renewal, Sue, Lawyer, Illegal, Verbally Aggressive Language)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(195, 190, 24); font-size: 16px;&quot;&gt;Yellow&lt;/strong&gt;&lt;span style=&quot;color: rgb(33, 33, 34); font-size: 16px;&quot;&gt;&amp;nbsp;- The customer is upset about the changes but no Escalation is required.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(28, 169, 33); font-size: 16px;&quot;&gt;Green&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;-&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(33, 33, 34); font-size: 16px;&quot;&gt;The customer acknowledged the changes.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Instruction_Close_Not_Available</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Complete the fields below if applicable.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Instruction_Finish</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Hit Finish when you are ready the next customer.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Instruction_Make_Outreach</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Call the number below:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;IF&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(27, 27, 27); font-size: 16px;&quot;&gt;the customer name seems odd, ask for the&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Salesforce Administrator&lt;/strong&gt;&lt;span style=&quot;color: rgb(27, 27, 27); font-size: 16px;&quot;&gt;!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;IF&lt;/strong&gt;&lt;span style=&quot;color: rgb(27, 27, 27); font-size: 16px;&quot;&gt;&amp;nbsp;the number doesn&apos;t work, select &quot;No&quot; and then &quot;Next&quot;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Instruction_No_More_Outreach</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Congratulations! You have completed all contacts with this language or region. Please proceed to another language or region. Contact your manager with questions.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Instruction_Until_Ready_To_Call</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;DO NOT SELECT NEXT UNTIL YOU ARE READY TO CALL THE CUSTOMER.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Talk_Track_Email_Accepted</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Say:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;“I’ll send you the email shortly. Thank you for your time and for being a valued customer. Have a great day.”&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Talk_Track_Email_Declined</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Say:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&quot;Alright. Thank you for your time and for being a valued customer. Have a great day.&quot;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Talk_Track_Hello</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Say:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Hi &lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(242, 239, 144); color: rgb(0, 0, 0);&quot;&gt;&amp;lt;First Name&amp;gt;&lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;! I’m calling you with some key information regarding our program.&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Do you have a moment to talk?&amp;nbsp;I’d like to confirm whether you’re aware of our program.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Talk_Track_Outreach_Answered</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Say:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;&quot;Hello - This is&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(242, 239, 144);&quot;&gt;&amp;lt;Your Name&amp;gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;&amp;nbsp;from &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(242, 239, 144);&quot;&gt;&amp;lt;Your Company&amp;gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;. Am I speaking to&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(242, 239, 144);&quot;&gt;&amp;lt;First Name&amp;gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;?&quot;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Talk_Track_Outreach_Aware</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Say:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;&quot;Wonderful. We have a lot of resources, including videos, FAQs, checklists, and a dedicated group, to help answer any questions you might have, and to ensure you’re well prepared. If you’d like, I can send you an email now with those resources so you have them readily available.&lt;/span&gt;&lt;span style=&quot;font-size: 18px; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Does that work for you?&lt;/strong&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;&quot;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Talk_Track_Outreach_Not_Available</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;If it&apos;s the wrong number, Say this:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&quot;My apologies, I must have an incorrect number. Have a great day.&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;If the contact is not available, Say this:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&quot;Alright.&lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Thank you for your time and for being a valued customer. Have a great day.&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;If the contact is unavailable and the person answering asks if they can assist or take a message:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;“I was calling to discuss our program. I will follow up with the information via email. Thank you for your time. Have a great day.”&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;If Voicemail, Say this:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;“Hello &lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(242, 239, 144); color: rgb(0, 0, 0);&quot;&gt;&amp;lt;First Name&amp;gt;&lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;. My name is &lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(242, 239, 144); color: rgb(0, 0, 0);&quot;&gt;&amp;lt;Your Name&amp;gt;&lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt; from &lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(242, 239, 144); color: rgb(0, 0, 0);&quot;&gt;&amp;lt;Your Company&amp;gt;&lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;. I hope you’re doing well. I’m reaching out today with some key information regarding our program. In case you’re not aware, ... To make sure you’re well prepared, I’ll send an email to the email address we have on file with helpful resources, and forums where you can ask questions and get any additional support you need. You’re a valued customer to us and we appreciate your attention to this. Have a great day.”&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;If no answer and no voicemail, select &quot;Next&quot;:&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Talk_Track_Outreach_Not_Aware</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Say:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;“In that case, I&apos;d like to give you a brief overview of our program. ...&lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;If you&apos;d like, I can send you an email with helpful resources, including videos, FAQs, checklists, and a Trailblazer group, to help answer any questions you might have, and to ensure you&apos;re well prepared for the future upgrade.&lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(51, 51, 51);&quot;&gt;Does that work for you?&lt;/strong&gt;&lt;span style=&quot;font-size: 18px; color: rgb(51, 51, 51);&quot;&gt;&quot;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Decision_Available_To_Speak</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Was the Customer Available to Speak?</stringValue>
        </value>
    </variables>
    <variables>
        <name>Decision_Aware_of_Program</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Was Customer Aware of Program?</stringValue>
        </value>
    </variables>
    <variables>
        <name>Decision_Outreach_Answered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Did the Customer Answer?</stringValue>
        </value>
    </variables>
    <variables>
        <name>Decision_Send_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Send Email?</stringValue>
        </value>
    </variables>
    <variables>
        <name>Email_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Information About Our Program</stringValue>
        </value>
    </variables>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
