force-app/main/default/flows/Program_Outreach_Screen_Contact_Add_to_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Ids_Assignment</name>
        <label>Ids Assignment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToProgram_Subflow</targetReference>
        </connector>
    </assignments>
    <description>Screen to allow a user to add a contact to a program from a button on layout.</description>
    <environments>Default</environments>
    <interviewLabel>Program Outreach: Screen: Contact Add to Program {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Program Outreach: Screen: Contact Add to Program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ids_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AddToProgram_Subflow</name>
        <label>AddToProgram Subflow</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <flowName>Program_Outreach_Screen_Add_to_Program</flowName>
        <inputAssignments>
            <name>ids</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
