force-app/main/default/flows/Program_Outreach_Trigger_On_Send_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail_Action</name>
        <label>SendEmail Action</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Outreach_UpdateRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Email_TextCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ProgramScript_GetRecord.Email_Subject__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>EmailTextCollection_Assignment</name>
        <label>EmailTextCollection Assignment</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>Email_TextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Emailable_Decision</name>
        <label>Is this Emailable?</label>
        <locationX>440</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>OutreachNotEmailable_UpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>It is not Emailable</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_EmailIsExcluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.%%%NAMESPACED_ORG%%%Program__r.%%%NAMESPACED_ORG%%%Exclude_Send_Email_Script__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutreachEmailExcluded_UpdateRecord</targetReference>
            </connector>
            <label>Email is Excluded</label>
        </rules>
        <rules>
            <name>OutcomeIs_IsEmailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramScript_GetRecord.Email_Body__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProgramScript_GetRecord.Email_Subject__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.%%%NAMESPACED_ORG%%%Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailTextCollection_Assignment</targetReference>
            </connector>
            <label>It is Emailable</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailBody_Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ProgramScript_GetRecord.%%%NAMESPACED_ORG%%%Email_Body__c},&quot;{{{First_Name}}}&quot;,{!$Record.%%%NAMESPACED_ORG%%%First_Name__c})</expression>
    </formulas>
    <interviewLabel>Program Outreach: Trigger: Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Program Outreach: Trigger: On Send Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ProgramScript_GetRecord</name>
        <label>ProgramScript GetRecord</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Emailable_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Language__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Outreach_UpdateRecord</name>
        <label>Outreach UpdateRecord</label>
        <locationX>440</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OutreachEmailExcluded_UpdateRecord</name>
        <label>OutreachEmailExcluded UpdateRecord</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <stringValue>Not Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OutreachNotEmailable_UpdateRecord</name>
        <label>OutreachNotEmailable UpdateRecord</label>
        <locationX>704</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <stringValue>Not Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send</stringValue>
            </value>
        </filters>
        <object>Program_Outreach__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>ProgramScript_GetRecord</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Email_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
