force-app/main/default/flows/Program_Outreach_Screen_Add_to_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ContactMissingFieldsText_Assignment</name>
        <label>ContactMissingFieldsText Assignment</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ContactMissingFields_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactMissingFields_TextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactMissingFields_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactWithOutreachText_Assignment</name>
        <label>ContactWithOutreachText Assignment</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ContactWithOutreach_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactWithOutreach_TextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactWithOutreach_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AddToProgramSubflowError_Decision</name>
        <label>AddToProgramSubflowError Decision</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>ContactWithOutreach_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Errors</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_AddToProgramSubflowHasErrors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddToProgram_Subflow.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeneralError_Subflow</targetReference>
            </connector>
            <label>An Error Occured</label>
        </rules>
    </decisions>
    <description>Launch a screen from contact listview and pass in contact ids to add to a selected program. If contact already exists, it will not be added.</description>
    <dynamicChoiceSets>
        <name>ProgramActive_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Allow_Add_to_Outreach_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Program__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Program Outreach: Screen: Add to Program {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Program Outreach: Screen: Add to Program</label>
    <loops>
        <name>ContactMissingFields_Loop</name>
        <label>ContactMissingFields Loop</label>
        <locationX>402</locationX>
        <locationY>854</locationY>
        <collectionReference>AddToProgram_Subflow.ContactMissingFields_RecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContactMissingFieldsText_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ThankYou_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ContactWithOutreach_Loop</name>
        <label>ContactWithOutreach Loop</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <collectionReference>AddToProgram_Subflow.ContactWithOutreach_RecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContactWithOutreachText_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ContactMissingFields_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ProgramSelect_Screen</name>
        <label>ProgramSelect Screen</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddToProgram_Subflow</targetReference>
        </connector>
        <fields>
            <name>ProgramSelect_Picklist</name>
            <choiceReferences>ProgramActive_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Program to Add To</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYou_Screen</name>
        <label>ThankYou_Screen</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou_DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;We added contacts to the program selected. You may close this window now.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactOutreach_DisplayText</name>
            <fieldText>&lt;p&gt;These contacts already had outreaches and were not added.&lt;/p&gt;&lt;p&gt;{!ContactWithOutreach_Text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContactWithOutreach_Text</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactMissingFields_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;These contacts were missing required fields and were not added. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!ContactMissingFields_Text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContactMissingFields_Text</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProgramSelect_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AddToProgram_Subflow</name>
        <label>AddToProgram Subflow</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>AddToProgramSubflowError_Decision</targetReference>
        </connector>
        <flowName>Program_Outreach_Autolaunched_Add_to_Program</flowName>
        <inputAssignments>
            <name>ContactIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgramId</name>
            <value>
                <elementReference>ProgramSelect_Picklist</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>GeneralError_Subflow</name>
        <label>GeneralError Subflow</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <flowName>POP_Screen_General_Error</flowName>
        <inputAssignments>
            <name>errors</name>
            <value>
                <elementReference>AddToProgram_Subflow.errors</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ContactMissingFields_TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!ContactMissingFields_Loop.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!ContactMissingFields_Loop.FirstName} {!ContactMissingFields_Loop.LastName}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ContactWithOutreach_TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!ContactWithOutreach_Loop.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!ContactWithOutreach_Loop.FirstName} {!ContactWithOutreach_Loop.LastName}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContactIdOutreachExist_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactMissingFields_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRequiredFieldsMissingOutreachExist_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactWithOutreach_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramOutreachNew_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Outreach__c</objectType>
    </variables>
</Flow>
