force-app/main/default/flows/Program_Outreach_Trigger_On_Close_Connected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Program_Decision</name>
        <label>Program Decision</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_Is_Set_to_Close_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Program_GetRecord.Close_Account_on_Connected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProgramMemberRelatedAccount_UpdateRecord</targetReference>
            </connector>
            <label>It Is Set to Close Account</label>
        </rules>
    </decisions>
    <description>When a Program Outreach is Closed Connected: 1) If the Program is set to Close Account on Connected, every other contact at account that is set to NEW will be closed as CLOSED CONNECTED ELSEWHERE</description>
    <interviewLabel>Program Outreach: Trigger: On Close Connected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Outreach: Trigger: On Close Connected</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Program_GetRecord</name>
        <label>Program GetRecord</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ProgramMemberRelatedAccount_UpdateRecord</name>
        <label>ProgramMemberRelatedAccount UpdateRecord</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Reason__c</field>
            <value>
                <stringValue>Connected Elsewhere</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Program_Outreach__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connected</stringValue>
            </value>
        </filters>
        <object>Program_Outreach__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Program_GetRecord</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
