force-app/main/default/flows/Program_Script_Screen_Default_Script.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>ProgramScriptDefaultSubflow_Decision</name>
        <label>ProgramScriptDefaultSubflow Decision</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No Errors</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ProgramScriptDefaultSubflowHasErrors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramScriptDefault_Subflow.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeneralError_Subflow</targetReference>
            </connector>
            <label>Program Script Default Subflow Has Errors</label>
        </rules>
    </decisions>
    <description>Screen to allow user to create a default script from a button on Program layout.</description>
    <environments>Default</environments>
    <interviewLabel>Program Script: Screen: {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Program Script: Screen: Default Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProgramScriptDefault_Subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GeneralError_Subflow</name>
        <label>GeneralError Subflow</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>POP_Screen_General_Error</flowName>
        <inputAssignments>
            <name>errors</name>
            <value>
                <elementReference>ProgramScriptDefault_Subflow.errors</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ProgramScriptDefault_Subflow</name>
        <label>ProgramScriptDefault Subflow</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>ProgramScriptDefaultSubflow_Decision</targetReference>
        </connector>
        <flowName>Program_Script_Autolaunched_Default_Script</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
