force-app/main/default/flows/Program_Outreach_Autolaunched_Clone_Unconnected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ProgramOutreachNew_Assignment</name>
        <label>ProgramOutreachNew Assignment</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgramOutreach_Loop.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgramOutreach_Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.CloneSourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgramOutreach_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_Record.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgramOutreach_Loop.Program__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProgramOutreachRecordCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProgramOutreachRecordCollection_Assignment</name>
        <label>ProgramOutreachRecordCollection Assignment</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreachNew_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramOutreachNew_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProgramOutreachUpdate_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProgramOutreachUpdate_Assignment</name>
        <label>ProgramOutreachUpdate Assignment</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreach_Loop.Cloned_to_New_Outreach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProgramOutreachUpdateCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProgramOutreachUpdateCollection_Assignment</name>
        <label>ProgramOutreachUpdateCollection Assignment</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ProgramOutreachUpdate_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramOutreach_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProgramOutreach_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>ProgramOutreach_CollectionSort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>ProgramOutreach CollectionSort</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>ProgramOutreachClosed_GetRecords</collectionReference>
        <connector>
            <targetReference>ProgramOutreach_Loop</targetReference>
        </connector>
        <limit>5000</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Closed_Date_Time__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <description>Autolaunched Flow that will clone any outreach that is marked unconnected with a valid reasons for cloning. Since this is limited to 5k records, it keeps track of which ones were cloned if needed to run multiple times.</description>
    <interviewLabel>Program Outreach: Autolaunched: Clone Unconnected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Outreach: Autolaunched: Clone Unconnected</label>
    <loops>
        <name>ProgramOutreach_Loop</name>
        <label>ProgramOutreach Loop</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>ProgramOutreachClosed_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProgramOutreachNew_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProgramOutreachNew_CreateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ProgramOutreachNew_CreateRecords</name>
        <label>ProgramOutreachNew CreateRecords</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>ProgramOutreachUpdateCollection_UpdateRecords</targetReference>
        </connector>
        <inputReference>ProgramOutreachNew_RecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>ProgramOutreachClosed_GetRecords</name>
        <label>ProgramOutreachClosed GetRecords</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProgramOutreach_CollectionSort</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8) AND 9</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unconnected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bad_Incorrect_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_Call_Requested__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Unconnected_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reached Voicemail</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unconnected_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gate Keeper (Assistant / Receptionist) Answered and could not connect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unconnected_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unable To Leave Voicemail / Voicemail Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unconnected_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact Not Available Due to IVR (Interactive Voice Response)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cloned_to_New_Outreach__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Outreach__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ProgramOutreachUpdateCollection_UpdateRecords</name>
        <label>ProgramOutreachUpdateCollection UpdateRecords</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <inputReference>ProgramOutreachUpdate_RecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProgramOutreachClosed_GetRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Program</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Program__c</objectType>
    </variables>
    <variables>
        <name>ProgramOutreachNew_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Outreach__c</objectType>
    </variables>
    <variables>
        <name>ProgramOutreachNew_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Outreach__c</objectType>
    </variables>
    <variables>
        <name>ProgramOutreachUpdate_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Outreach__c</objectType>
    </variables>
</Flow>
