force-app/main/default/flows/Program_Outreach_Trigger_On_Send_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail_Action</name>
        <label>SendEmail Action</label>
        <locationX>308</locationX>
        <locationY>528</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Email_TextCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Subject</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>EmailTextCollection_Assignment</name>
        <label>EmailTextCollection Assignment</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>Email_TextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail_Action</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>EmailBody_Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ProgramScript_GetRecord.Email_Body__c},&quot;{{{First_Name}}}&quot;,{!$Record.First_Name__c})</expression>
    </formulas>
    <interviewLabel>Program Outreach: Trigger: Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Outreach: Trigger: On Send Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ProgramScript_GetRecord</name>
        <label>ProgramScript GetRecord</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailTextCollection_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Language__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <object>Program_Outreach__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>ProgramScript_GetRecord</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Email_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
